{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="tm-content-placeholder">
        <h1 class="tm-product-heading">Products (DBAL Example)</h1>

        <div class="tm-product-grid">
            {% for article in articles %}
                <div class="tm-product-card">
                    <p class="tm-product-card__brand">{{ article.brand }}</p>
                    <p class="tm-product-card__name">{{ article.name }}</p>
                    <p class="tm-product-card__manufacturer">{{ article.manufacturer }}</p>
                    <p class="tm-product-card__price">{{ article.price|number_format(2, ',', '.') }} &euro;</p>
                </div>
            {% else %}
                <p>No articles found.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
