{% extends 'base.html.twig' %}

{% block title %}Product Card{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: center; padding: 40px 16px;">
        {{ include('components/product_card.html.twig') }}
    </div>
{% endblock %}
